<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeforcesExport.CodeforcesExport" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeforcesExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CodeforcesExport.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>codeforcesexport@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>secretpassword</value>
            </setting>
            <setting name="calendarUri" serializeAs="String">
                <value>https://www.google.com/calendar/feeds/default/private/full</value>
            </setting>
            <setting name="divisionExclusion" serializeAs="String">
                <value>First</value>
            </setting>
        </CodeforcesExport.Properties.Settings>
    </applicationSettings>
</configuration>